*{
    margin: 0 ;
    box-sizing: border-box;
    padding: 0;
}

.bgimg{
    background-image: url(../assent/img/hero-bg.png);
    background-size:cover;
    height: 110vh;
    width: 100%;
    background-repeat: no-repeat;
   
} 

header{
    background-color: black;
    opacity: 0.7;
    height: 120px;
} 
.logo{
    margin: 40px 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.parent-nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
    
}
ul li a{
    
    margin: 25px;
    padding: 5px;
    
}

ul li a:hover{
    border-bottom: 2px solid red;   
  
  
   

}
 .sign{
  margin: 5px;
  padding: 5px;
}
.sign:hover{
    border-bottom: 2px solid red;
}
.join{
    margin: 0 60px 0 40px;
    border: 2px solid white;
    padding: 10px 40px;
    
}
.home  {
    border-bottom: 2px solid red;
    padding: 5px;
}
.section1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #212529d6;
    
    width: 85%;
    height: 220px;
    margin: auto;
    margin-top: 200px;
    
}
div .search{
    display: flex;
    flex-direction: column;
    justify-content:center;
    flex-wrap: nowrap;
    text-align: center;
 
}
div .search1{
    display: flex;
    justify-content: center;
}
div .buy{
    display: flex;
    justify-content: flex-start;
    margin: 0 88px;
    text-align: center;
    align-items: center;
    font-weight: 500;
    
}
div.buy a{
 
    padding: 15px;
}
.active{
border: 0px solid rgb(255, 0, 0);
background-color: #ff000a;
width: 100px;
height: 50px;
  
}
.search1 p{
    margin-left: 20px;
}
input.box{
    width: 78%;
    height: 70px;
    margin: 8px 0 20px 0px; 
    padding: 20px;
    
}
.icon{
    height: 70px;
    width:18%;
    margin: 0;
    background-color: red;
    border: 0 solid;
    margin: 0 0 0 -4px;
    color: white;
    font-size: 16px;
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin:  4px 0 -9px 68px;
    border-bottom: 8px solid rgb(255, 255, 255);
    
  }
  
  
  .section2{
    margin: 120px 30px;
  }
  .top{
    display: flex;
    justify-content: center;
     margin-bottom: 80px;
    
  }
  .flex{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    flex-wrap: nowrap;
    align-items: center;
    width: 50%;
     margin: 20px;
    
  }
  p.lorem{
    color: #322429db;
    font-size: 16px;
    line-height: 2;  
    margin-bottom: 25px;
    font-weight: 500;
  } 
 .flexa{
    font-size: 18px;
    font-weight: bolder;
    color: #ff000a;
   border-bottom: 2px solid #ff000a;
    margin-right:  500px;
  }
  
  .flex a .vip{
    color: #ff000a;
  } 
  .vip a{
    font-size: 18px;
    font-weight: bolder;
    color: #ff000a;
   border-bottom: 2px solid #ff000a;
     margin-left: -140px;
    
  }
  
  

